<!-- components/footer.html -->
<footer class="bg-light text-center text-lg-start mt-auto py-3">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">MultiTools Inc.</h5>
                <p>
                    Your one-stop destination for a wide variety of online tools to make your life easier.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#!" class="text-dark">Privacy Policy</a></li>
                    <li><a href="#!" class="text-dark">Terms of Service</a></li>
                    <li><a href="#!" class="text-dark">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#!" class="text-dark">Facebook</a></li>
                    <li><a href="#!" class="text-dark">Twitter</a></li>
                    <li><a href="#!" class="text-dark">Instagram</a></li>
                </ul>
            </div>
        </div>
        <!-- Ad placeholder in footer -->
        <div class="ad-placeholder-footer mt-4" style="min-height: 70px; background-color: #e9ecef; text-align: center; line-height: 70px;">
            Footer Ad Space
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://yourwebsite.com/">MyMultiTools.com</a>
    </div>
</footer>
